.header {
    font-size: small;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.5em 0 2.5em;
    margin-left: 200px;
    /* margin-top: -100px; */
}

.header a{
    text-decoration: none;

}

.header_left ul{
    display: flex;
    align-items: center;

}

.header_left li a{
    padding: 10px;
    margin-right: 10px;
    margin-left: 90px;
}

.header_left a.active {
    color: red;
    border-bottom: 2px solid #fd4500;
}

.header_right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header_right > * {
    margin-left: 10px;
}

.header_right > img {
    width: 25px;
    border-radius: 50%;
}

.header_right >i {
    font-size: medium;
    color: #808080;
}

.header_right > .header_right >span {
    margin-right: 10px;
}